# This file contains pin mappings for the stock 2021 Creality Ender 7.
# To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.
[include macros.cfg]

[include acceleration-macro.cfg]

[exclude_object]

[include klicky.cfg]

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 32
rotation_distance: 64
endstop_pin: ^PA5
position_endstop: 0
position_max: 260
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PC3
microsteps: 32
rotation_distance: 64
endstop_pin: ^PA6
position_endstop: 260
position_max: 260
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
# endstop_pin: ^PA7
endstop_pin: probe:z_virtual_endstop
position_max: 300
homing_speed: 5.0
homing_retract_dist: 3.0
homing_retract_speed: 15
second_homing_speed: 1.5

[extruder]
pressure_advance = 0.520
max_extrude_only_distance: 1000.0
step_pin: PB4
dir_pin: !PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 22.84
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
# tuned for stock hardware with 200 degree Celsius target
pid_Kp: 19.122
pid_Ki: 0.898
pid_Kd: 101.825
min_temp: 0
max_temp: 255

[heater_bed]
heater_pin: PA15
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 70.499
pid_Ki: 1.546
pid_Kd: 803.686
min_temp: 0
max_temp: 75

[fan]
pin: PA0

[mcu]
restart_method: command
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
# serial: /dev/ttyUSB0

[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: !PA4
pause_on_runout: True
insert_gcode:
    M117 Insert Detected
runout_gcode:
    M117 Runout Detected


[printer]
kinematics: corexy
# tested about the max
# max_accel: 12000
# max_velocity: 2000
# max_accel_to_decel: 6000
max_accel: 8000
max_velocity: 2000
max_accel_to_decel: 6000
max_z_velocity: 20
max_z_accel: 100
square_corner_velocity: 5.0


[virtual_sdcard]
path: ~/ender7_data/gcodes

[pause_resume]

[firmware_retraction]
retract_length: 5
retract_speed: 200
unretract_speed: 75

[input_shaper]
shaper_freq_x: 56.81  # frequency for the X mark of the test model
shaper_freq_y: 80  # frequency for the Y mark of the test model
shaper_type: mzv

[delayed_gcode bed_mesh_init]
initial_duration: .01
gcode:
  BED_MESH_PROFILE LOAD=default

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.063333, -0.040833, -0.040000, -0.040833, -0.073333
#*# 	  0.015833, 0.015000, 0.010000, 0.001667, -0.019167
#*# 	  0.009167, 0.010000, 0.000000, 0.012500, -0.026667
#*# 	  -0.007500, -0.011667, -0.012500, -0.005000, -0.023333
#*# 	  -0.037500, -0.062500, -0.049167, -0.033333, -0.040000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 35.0
#*# max_x = 223.0
#*# min_y = 60.0
#*# max_y = 230.0
